.red {
    background-color: #E14530 !important;
}

.green {
    background-color: #65E047 !important;
}

table.dataTable thead th {
    text-align: left !important;
}

table.dataTable.display tbody tr.green {
    background-color: #65E047;
}

table.dataTable.display tbody tr.odd.green .sorting_1 {
    background-color: #65E047;
}

table.dataTable.display tbody tr.even.green .sorting_1 {
    background-color: #65E047;
}

table.dataTable.display tbody tr.red {
    background-color: #E14530;
}

table.dataTable.display tbody tr.odd.red .sorting_1 {
    background-color: #E14530;
}

table.dataTable.display tbody tr.even.red .sorting_1 {
    background-color: #E14530;
}

table.dataTable.display tbody tr.orange {
    background-color: orange;
}

table.dataTable.display tbody tr.odd.orange .sorting_1 {
    background-color: orange;
}

table.dataTable.display tbody tr.even.orange .sorting_1 {
    background-color: orange;
}